<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Introduction">Présentation</h2>
    <p>Brightcove Cloud Playout est un module Studio qui vous permet de programmer une diffusion programmée d'articles de votre catalogue VOD, combinée à des flux en direct, et de la diffuser en tant que canal linéaire, le tout avec la fiabilité et l'évolutivité de Brightcove Live.</p>
    {% if site.product_short != 'Video Cloud' %}
		<p>Vous pouvez ensuite utiliser la chaîne Cloud Playout comme chaîne {{site.product_short}} en saisissant les informations la concernant lors de la création d'une chaîne<a href="/channels/{{ site.product_short }}-channels/creating-a-channel.html"> {{site.product_short}}</a>. L'un des principaux avantages de l'utilisation des chaînes Cloud Playout est que vous n'aurez pas besoin de trouver et d'intégrer un fournisseur d'EPG tiers, puisqu'un service EPG est intégré à Cloud Playout.</p>
    {% endif %}
    <p>Cloud Playout offre une solution puissante de bout en bout pour les chaînes de programmation programmées, notamment:</p>
    <ul>
      <li>Canaux linéaires 24 x 7</li>
      <li>Chaînes pop-up/virtuelles</li>
      <li>Événements en direct simulés</li>
    </ul>
    <p>Cloud Playout vous aide à accroître l'engagement de votre public et à créer de nouvelles opportunités de revenus grâce à une expérience télévisuelle en direct similaire à celle d'une diffusion en direct qui exploite du contenu préenregistré. Utilisez les ressources VOD existantes et ajoutez des événements en direct (en option) pour créer des chaînes en direct programmées.</p>  </section><section class="bcls-section">
    <h2 id="Features">Caractéristiques</h2>
    <p>Les fonctionnalités de Cloud Playout incluent:</p>
    <ul>
      <li>Importez des ressources VOD depuis votre médiathèque Video Cloud.</li>
      <li>Basculez entre les ressources VOD et les flux en direct programmés.</li>
      <li>Réagissez en temps réel aux changements d'horaire de dernière minute de manière simple, rapide et fiable.</li>
      <li>Monétisez le contenu de votre chaîne grâce à l'insertion d'annonces côté serveur (SSAI).</li>
      <li>Configurez votre chaîne pour diffuser votre programme en boucle.</li>
      <li>Optimisez la diffusion par appareil.</li>
      <li>Glissez-déposez pour réorganiser la programmation du programme à tout moment, même en état En cours d'exécution.</li>
      <!-- <li>Push a channel to your owned and operated properties via Brightcove Live, an Amazon S3 bucket, or a 3rd party destination via RTMP output.</li> -->
      <li>API pour récupérer l'EPG (guide électronique des programmes) d'une chaîne</li>
    </ul> </section> {% if site.product_short != 'Video Cloud' et site.product_short != 'Beacon Classic' %} <section class="bcls-section">
		<h2 id="workflow_overview">Aperçu du flux de</h2>
		<p>La création d'une chaîne Cloud Playout et son ajout à votre application {{site.product_short}} se déroulent en quatre étapes:</p>
		<ol class="bcls-tasklist-restart">
			<li>Dans<strong> {{site.product_short}} Studio</strong>, créez la chaîne.</li>
			<li>Dans<strong> {{site.product_short}} Classic</strong>, créez une nouvelle chaîne {{site.product_short}} qui utilise la chaîne Cloud Playout comme source.</li>
      <li>Dans<strong> {{site.product_short}} Studio</strong>, ajoutez la chaîne à une playlist.</li>
      <li>Dans<strong> {{site.product_short}} Studio</strong>, ajoutez la playlist à la page.</li>
		</ol>
		<p>Ces tâches sont détaillées dans les rubriques<a href="#Related_topics"> connexes</a></p> </section> {% elsif site.product_short == 'Beacon Classic' %} <section class="bcls-section">
		<h2 id="workflow_overview">Aperçu du flux de</h2>
		<p>La création d'une chaîne Cloud Playout et son ajout à votre application {{site.product_short}} se déroulent en quatre étapes:</p>
		<ol class="bcls-tasklist-restart">
			<li>Dans<strong> Video Cloud Studio</strong>, créez la chaîne.</li>
			<li>Dans<strong> {{site.product_short}}</strong>, créez une nouvelle chaîne {{site.product_short}} qui utilise la chaîne Cloud Playout comme source.</li>
      <li>Dans<strong> {{site.product_short}}</strong>, ajoutez la chaîne à une playlist.</li>
      <li>Dans<strong> {{site.product_short}}</strong>, ajoutez la playlist à la page.</li>
		</ol>
		<p>Ces tâches sont détaillées dans les rubriques<a href="#Related_topics"> connexes</a></p> </section> {% endif %} <section class="bcls-section">
    <h2 id="limitations">Limitations</h2>
    <p>Les hypothèses et limites suivantes s'appliquent.</p>
    <ul>
      <li>Vos vidéos doivent être ingérées ou retranscodées à l'aide d'un profil de diffusion dynamique et<strong> doivent avoir un rendu MP4</strong>: <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-cloudplayout-img/mp4-in-ingest-profile.png" alt="Ingérer des profils avec MP4"> <figcaption class="bcls-caption--image">Ingérer des profils avec MP4</figcaption> </figure>
      </li>
      <li>Pour que les chaînes fonctionnent dans {{site.product_short}}, vous devez<strong> spécifier Brightcove Live comme destination</strong>.</li>
      <li>Le débit binaire d'entrée et la résolution maximaux pris en charge pour Cloud Playout sont de 20 Mbps/1080p pour les entrées VOD et en direct.</li>
      <li>Brightcove recommande d'utiliser des vidéos d'une durée d'au moins 2 minutes pour garantir une transition correcte entre les vidéos et la précision du guide électronique des programmes.</li>
      <li>Les sous-titres (pistes de texte) ajoutés aux vidéos actuellement s'afficheront dans les chaînes Cloud Playout si vous avez<a href="https://apis.support.brightcove.com/dynamic-ingest/ingest-guides/ingesting-webvtt-files-text-trackscaptions.html"> demandé des sous-titres codés</a> pour les rendus MP4.</li>
      <li>La durée minimale des événements en direct est de 5 minutes.</li>
      <li>Chaque événement en direct dans Cloud Playout partage une relation individuelle avec une ressource distante Video Cloud. Cette ressource distante ne peut pas être réutilisée sur d'autres canaux. Si l'événement en direct est supprimé de la chaîne, la ressource distante associée sera automatiquement supprimée. Lorsqu'une chaîne est supprimée, toutes les ressources distantes associées sont également supprimées automatiquement.</li>
      <li>Les vidéos<strong> partagées</strong> sur le compte à partir d'un autre compte ne peuvent actuellement pas être ajoutées à une chaîne Cloud Playout.</li>
      <li>Lorsqu'un événement en direct est en cours de lecteur, mais qu'aucun flux actif n'est disponible, le contenu de l'ardoise sera lu en boucle jusqu'à ce que le flux en direct reprenne ou que l'événement se termine. Il y aura un délai d'environ 30 secondes avant que l'ardoise MP4 ne commence à jouer.</li>
      <!--<li><strong>Input Looper : if the asset URL is duplicated, then input looper rely on order for switching; if the order is changes during the course of the switching , then subsequent N+1 switch it attempt to create would rely on the order.Â </strong></li>-->
      <li>Si le compte Video Cloud est configuré pour la géo-restriction, la région de<strong> sortie du canal</strong> doit être créée dans une région compatible avec la stratégie de restriction géographique de Video Cloud.</li>
      <li>Pour une expérience optimale, Brightcove recommande d'utiliser le navigateur Google Chrome.</li>
      <li>
        Pour les chaînes prenant en charge SSAI, la destination doit être définie sur un événement RTP en direct avec publicité: <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-cloudplayout-img/advanced-options-for-live-job.png" alt="Réglages en direct pour la chaîne SSAI"> <figcaption class="bcls-caption--image">Réglages en direct pour la chaîne SSAI</figcaption> </figure>
      </li>
    </ul>   </section></article>